body {
  font-family: 'MinecraftiaRegular';
}

.nav-link {
  margin-right: 1em !important;
}

.forestry {
  margin-left: 5px;
}

.ALL_CRAFTING {
  margin-left: 5px;
}

#mining {
  margin-left: 5px;
}

#smelting {
  margin-left: 5px;
}

.btn {
  margin-bottom: 5px;
}

#dirt_achievement {
  text-align: center;
}

.hide {
  display: none;
}

.fade-in {
  animation: 2s fadeIn;
}

.fade-out {
  animation: 5s fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#tree_achievement {
  text-align: center;
}

.hide {
  display: none;
}

.fade-in {
  animation: 2s fadeIn;
}

.fade-out {
  animation: 5s fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#cut_tree_achievement {
  text-align: center;
}

.hide {
  display: none;
}

.fade-in {
  animation: 2s fadeIn;
}

.fade-out {
  animation: 5s fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.ALL_CRAFTING {
  column-count: 1;
  column-gap: 25px;
}

#dirt_achievement {
  text-align: center;
}

.hide {
  display: none;
}

.fade-in {
  animation: 2s fadeIn;
}

.fade-out {
  animation: 5s fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#tree_achievement {
  text-align: center;
}

.hide {
  display: none;
}

.fade-in {
  animation: 2s fadeIn;
}

.fade-out {
  animation: 5s fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#cut_tree_achievement {
  text-align: center;
}

.hide {
  display: none;
}

.fade-in {
  animation: 2s fadeIn;
}

.fade-out {
  animation: 5s fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
